<div class="dashboard-container">
  <div class="dashboard-row cols-3">
    <div class="group-border border-blue">
      <div class="dashboard-row cols-2">
        <div class="data-item">
          <label>Air</label>
          <div id="air-temp">{{data().airTemp |number:'1.1-1':'en-US'}} &deg;C</div>
        </div>
        <div class="data-item">
          <label>Track</label>
          <div id="track-temp">{{data().trackTemp |number:'1.1-1':'en-US'}} &deg;C</div>
        </div>
      </div>
      <div class="dashboard-row cols-2">
        <div class="data-item">
          <label>SOF</label>
          <div>{{data().strengthOfField ? data().strengthOfField : '---' }}</div>
        </div>
        <div class="data-item">
          <label>Time remaining</label>
          <div>{{data().sessionTimeRemaining | time}}</div>
        </div>
      </div>
      <div class="dashboard-row cols-2">
        <div class="data-item">
          <label>Last laptime</label>
          <div class="last-laptime" id="lastLapTime">{{data().lastLapTime | laptime}}</div>
        </div>
        <div class="data-item">
          <label>Delta</label>
          <div id="lastLapTimeDelta" [class.text-green]="data().lastLapTimeDelta < 0" [class.text-red]="data().lastLapTimeDelta > 0">{{data().lastLapTimeDelta | deltatime}}</div>
        </div>
      </div>
      <div class="dashboard-row cols-2">
        <div class="data-item">
          <label>Best laptime</label>
          <div class="best-laptime" id="bestLapTime">{{data().bestLapTime | laptime}}</div>
        </div>
        <div class="data-item">
          <label>Delta</label>
          <div id="bestLapTimeDelta" [class.text-green]="data().bestLapTimeDelta < 0" [class.text-red]="data().bestLapTimeDelta > 0">{{data().bestLapTimeDelta | deltatime}}</div>
        </div>
      </div>
    </div>
    <div class=" group-border border-yellow speedometer">
      <app-rpm-lights [rpm]="data().rpm" [rpmMax]="data().rpmMax" [biDirectional]="false" [lights]="data().rpmLights"  />
      <app-speedometer [rpm]="data().rpm" [gear]="data().gear" [speed]="data().speed" />
    </div>
    <div class="group-border border-blue">
      <div class="dashboard-row cols-2">
        <div class="data-item">
          <label>Brake bias</label>
          <div id="brakeBias">{{data().brakeBias |number:'1.1-1':'en-US'}}</div>
        </div>
        <div class="data-item">
          <label>Fuel remaining</label>
          <div id="fuelRemaining">{{data().fuelRemaining |number:'1.1-1':'en-US'}} L</div>
        </div>
      </div>
      <div class="data-item">
        <label>Incidents</label>
        @if (data().maxIncidents === 999) {
          <div id="incidents">{{data().incidents}}</div>
        } @else {
          <div id="incidents">{{data().incidents}}/{{data().maxIncidents}}</div>
        }
      </div>
      <div class="data-item">
        <label>Lap</label>
        @if (data().totalLaps > 0) {
          <div id="laps">{{data().currentLap}}/{{data().totalLaps}}</div>
        } @else {
          <div id="laps">{{data().currentLap}}</div>
        }
      </div>
      <div class="data-item">
        <label>Position</label>
        <div id="position">{{data().position}}</div>
      </div>
    </div>
  </div>
  <div class="dashboard-row cols-3">
    <app-opponent-delta
      id="driverAheadInfo"
      caption="Driver ahead"
      [driverInfo]="driverAhead()" />

    <div class="group-border border-blue">
      <div id="flag" [class]="`flag ${data().flag}`"></div>
    </div>

    <app-opponent-delta
      id="driverBehindInfo"
      caption="Driver behind"
      [driverInfo]="driverBehind()" />
  </div>
  <app-track-positions [positions]="data().timingEntries" />
  <app-telemetry-trace [telemetrySample]="telemetrySample()" />
</div>

@if (data().pitLimiterOn) {
  <div class="pit-limiter blink-text">Pit Limiter</div>
}
