app-race-display {
  .container {
    max-width: unset;
    color: white;
    font-size: 2.5vw;
    text-align: right;
  }

  app-speedometer {
    * {
      color: white;
    }

    label {
      text-transform: uppercase;
      text-align: center;
      width: 100%;
      font-size: 1.5vw;
    }

    .rpm, .speed {
      font-size: 2.5vw;
    }

    .gear {
      text-align: center;
      font-size: 6vw;
    }
  }

  .row {
    margin-top: 10px;
  }

  label {
    text-transform: uppercase;
    font-size: 1vw;
    text-align: right;
    color: gold;
  }

  .text-center {
    text-align: center;
  }

  .best-laptime {
    color: purple;
  }

  .group-border {
    border: white 4px solid;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    height: 100%;

    &.border-blue {
      border-color: rgba(0, 0, 255, 0.555);
    }
  
    &.border-yellow {
      border-color: yellow;
    }

    &:has(.flag) {
      padding: 0;
      margin: 0;
      overflow: hidden;
    }
  }

  .center-column {
    display: grid;
    grid-template-rows: 8fr 2fr;
    gap: 10px;
  }

  .hidden {
    visibility: hidden;
  }

  .text-red {
    color: red;
  }

  .text-green {
    color: green;
  }

  .pit-limiter {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: orange;
    font-size: 62pt;
    color: black;
    padding: 5px 45px 5px 45px;
    border-radius: 15px;
    animation: text-blinker 2s step-end infinite;
  }

  .flag {
    width: 100%;
    height: 100%;
    position: relative;
  
    &.yellow {
      background-color: yellow;
    }
  
    &.green {
      background-color: green;
    }
  
    &.white {
      background-color: white;
    }
  
    &.blue {
      background-color: blue;
    }
  
    &.red {
      background-color: red;
    }

    &.black {
      background-color: black;
    }

    &.black-orange {
      background-color: black;
    }
  
    &.black-orange::after {
      content: '';
      border-radius: 50%;
      background-color: orange;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 75%;
      aspect-ratio: 1;
    }
  
    &.checkered {
      width: 100%;
      height: 100%;
      background: repeating-conic-gradient(
        #000 0% 25%,
        #fff 0% 50%
      );
      background-size: 60px 60px;
    }
  
    &.red-yellow {
      background-image: repeating-linear-gradient(
        to right,
        yellow 0%,
        yellow 10%,
        red 10%,
        red 20%
      );
      background-size: 100% 100%;
    }
  }

  @keyframes text-blinker {
    50% {
      color: transparent;
    }
  }
}
