<div class="opponent-delta group-border border-blue">
  <label>{{caption()}}</label>
  <div>
    <div class="name-class-row"
      [class.hidden]="!driverInfo()"
      [class.lap-ahead]="driverInfo()?.isLapAhead"
      [class.lap-behind]="driverInfo()?.isLapBehind"
      [class.in-pits]="driverInfo()?.isInPits">
      <div class="driver-name">{{driverInfo()?.totalPosition | number:'1.1-1' }} {{driverInfo()?.driverName}}</div>
      <div class="delta-time">{{ deltaTime() | deltatime:1}}</div>
    </div>
  </div>
</div>
