.name-class-row {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}

.opponent-delta {
    text-align: center;

    .label {
      text-align: center;
    }
}

.driver-name {
    color: white;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &.lap-ahead {
        color: red;
    }

    &.lap-behind {
        color: blue;
    }

    &.in-pits {
        color: gray;
    }
}

.delta-time {
    text-align: right;
}

.driver-class {
    border-radius: 5px;
    background-color: green;
    padding: 0px 5px 0px 5px;
    margin-left: 20px;
    font-size: 2vw;
}

.driver-pill {
    border-radius: 10px;
    padding: 5px;
    margin-right: 10px;
    font-size: 1.5vw;
    width: 150px;

    &.driver-safety-rating {
        color: black;
    }

    &.driver-irating {
        background-color: white;
        color: black;
    }
}

label {
    position: relative;
    top: -15px;
}