table {
    width: 100%;
    background-color: black;
    color: #ffffff;
    border-collapse: collapse;
    table-layout: fixed;

    th, td {
      padding: 4px;
      border: none;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 2rem;

      &.player {
        color: yellow;
      }

      &.safety-car {
        color: blueviolet;
      }

      &.in-pits {
        color: slategray;
      }

      &.lap-ahead {
        color: red;
      }

      &.lap-behind {
          color: blue;
      }

      > span.pill {
        border-radius: 20px;
        padding: 0 20px;
        display: inline-block;
        width: 150px;
        text-align: center;
        color: black;

        &.irating {
          background-color: white;
        }
      }
    }
  
    thead {
      th {
        background-color: #222;
        color: #fff600; // bright yellow
        font-weight: bold;
      }
    }
  
    tbody {
      tr {
        &:nth-child(even) {
          background-color: #111;
        }
  
        &.best-lap {
          color: #ff00ff; // magenta for best lap
        }
  
        &.personal-best {
          color: #00ff00; // green for personal best
        }
  
        td {
          &.driver-name {
            font-weight: bold;
          }
        }
      }
    }
  }
  