.tracker {
  position: relative;
  width: 100%;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.center-line {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
  width: 100%;
  height: .2vw;
}

.track-item {
  position: absolute;
  height: 1vw;
  width: 1vw;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  border: 2px solid gray;
  background-color: green;

  &.player {
    background-color: orchid;
  }

  &.lap-ahead {
    background-color: red;
  }

  &.lap-behind {
    background-color: blue;
  }

  &.safety-car {
    background-color: white;
  }

  &.in-pits {
    background-color: gray;
  }
}
