engine-strict=true    # Refuse to install packages that aren't compatible with the node version.
legacy-peer-deps=true # Not recommended, but we need this because of some 3rd party packages that aren't upgraded to EsLint 9