<div class="header">
  <app-clock />
</div>
<div class="display">
  @let truckData = gameDataService.truckData();
  @let raceData = gameDataService.raceData();
  @let rallyData = gameDataService.rallyData();

  @if (truckData) {
    <app-truck-display [data]="truckData" />
  } @else if(raceData) {
    <app-race-display [data]="raceData" />
  } @else if(rallyData) {
    <app-rally-display [data]="rallyData" />
  } @else {
    <app-connection-status [status]="gameDataService.connectionStatus()" />
  }
</div>
