<div class="app-layout">
  <div class="header">
    <haddy-clock />
  </div>
  <div class="display">
    @switch (type()) {
      @case (DisplayType.TruckDashboard) {
        <app-truck-display />
      }
      @case (DisplayType.RaceDashboard) {
        <haddy-race-display [data]="raceData()" />
      }
      @case (DisplayType.RallyDashboard) {
        <haddy-rally-display [data]="rallyData()" />
      }
      @case (DisplayType.FlightDashboard) {
        <app-flight-display />
      }
      @default {
        <app-connection-status />
      }
    }
  </div>
</div>
