<div class="app-layout">
  <div class="header">
    <app-clock />
  </div>
  <div class="display">
    @switch (type()) {
      @case (DisplayType.TruckDashboard) {
        <app-truck-display />
      }
      @case (DisplayType.RaceDashboard) {
        <app-race-display />
      }
      @case (DisplayType.RallyDashboard) {
        <app-rally-display />
      }
      @case (DisplayType.FlightDashboard) {
        <app-flight-display />
      }
      @default {
        <app-connection-status />
      }
    }
  </div>
</div>
