app-rally-display {
  padding-top: 40px;

  .container {
    max-width: unset;
    color: white;
    font-size: 3vw;
    text-align: right;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
  }

  .group-border {
    border: white 4px solid;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    height: 100%;

    &.border-blue {
      border-color: rgba(0, 0, 255, 0.555);
    }
  
    &.border-yellow {
      border-color: yellow;
    }

    label {
      text-transform: uppercase;
      font-size: 1.5vw;
      text-align: right;
      color: gold;
    }

    app-speedometer {
      * {
        color: white;
      }
  
      > label {
        text-transform: uppercase;
        text-align: center;
        width: 100%;
        font-size: 2vw;
      }
  
      .rpm, .speed {
        font-size: 4vw;
      }
  
      .gear {
        text-align: center;
        font-size: 10vw;
      }
    }
  }
}
