app-rally-display {
  height: 100%;
  padding-top: 4vh;

  .container {
    max-width: unset;
    color: white;
    font-size: clamp(1.4rem, 3.5vh, 2.2rem);
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.6vh;
  }

  .speedometer {
    display: flex;
    flex-direction: column;

    &.max-rpm {
      background-color: red;
    }
  }

  .group-border {
    border: white 0.3vh solid;
    padding: 2vh;
    border-radius: 1.4vh;

    &.border-blue {
      border-color: rgb(0 0 255 / 55.5%);
    }

    &.border-yellow {
      border-color: yellow;
    }

    label {
      text-transform: uppercase;
      font-size: clamp(0.9rem, 2vh, 1.2rem);
      text-align: right;
      color: gold;
    }

    app-speedometer {
      > label {
        text-transform: uppercase;
        text-align: center;
        width: 100%;
        font-size: clamp(1.4rem, 3.5vh, 2.2rem);
        color: gold;
      }

      .rpm, .speed {
        font-size: clamp(2.6rem, 6vh, 5rem);
      }

      .gear {
        text-align: center;
        font-size: clamp(5rem, 12vh, 10rem);
      }
    }
  }

  .sectors-row {
    display: flex;
    justify-content: center;
    gap: 2vh;
  }

  .sector-item {
    text-align: center;
    flex: 1;
  }
}
