app-rally-display {
  height: 100%;
  padding-top: 4vh;

  .container {
    max-width: unset;
    color: white;
    font-size: clamp(1.2rem, 2.8vh, 2rem);
    text-align: right;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6vh;
    height: 100%;
  }

  .speedometer {
    display: flex;
    flex-direction: column;

    &.max-rpm {
      background-color: red;
    }
  }

  .group-border {
    border: white 0.3vh solid;
    padding: 1vh 1.4vh;
    border-radius: 1.4vh;
    height: 100%;

    &.border-blue {
      border-color: rgb(0 0 255 / 55.5%);
    }

    &.border-yellow {
      border-color: yellow;
    }

    label {
      text-transform: uppercase;
      font-size: clamp(0.7rem, 1.6vh, 1rem);
      text-align: right;
      color: gold;
    }

    app-speedometer {
      > label {
        text-transform: uppercase;
        text-align: center;
        width: 100%;
        font-size: clamp(0.8rem, 1.8vh, 1.2rem);
        color: gold;
      }

      .rpm, .speed {
        font-size: clamp(1.5rem, 3.5vh, 2.5rem);
      }

      .gear {
        text-align: center;
        font-size: clamp(2.5rem, 7vh, 5rem);
      }
    }
  }
}
